apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: GET
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
  - name: Mimir
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    jsonData:
      httpMethod: GET
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
  - name: Pyroscope
    type: pyroscope
    access: proxy
    url: http://pyroscope:4040
